@import "menu-item.scss";
@import "restaurant.scss";
@import "menu.scss";
$principal-color: rgba(250, 249, 249, 0.911);
body {
  font-family: sans-serif;
  margin: 0;
}

.loader-contenaire {
  position: fixed;

  background: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 3s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: lett 1s linear infinite;
}
@keyframes lett {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}

.enter {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}
.enter:nth-child(1) {
  animation-delay: 0.5s;
}
.enter:nth-child(2) {
  animation-delay: 1s;
}
.enter:nth-child(3) {
  animation-delay: 1.5s;
}
.enter:nth-child(4) {
  animation-delay: 2s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-click {
  text-decoration: none;
  width: 0px;
}
a {
  text-decoration: none;
  color: black;
}
.logo-img {
  height: 8vh;
}
header {
  text-align: center;
  padding-top: 30px;
}
.header-menu {
  text-align: center;
  padding: 25px;
}

.location {
  background-color: rgba(235, 235, 235, 0.911);

  padding: 20px;
  margin-bottom: 0;
}
.location a {
  text-decoration: none;
  color: black;
  font-size: 21px;
}
.hero {
  text-align: center;
  background-color: $principal-color;

  padding: 20px;
  font-size: 25px;
}

.p-hero {
  color: grey;
}
@mixin btn-color {
  border: 2px transparent;

  background: linear-gradient(to bottom, #ff79da, #9356dc);
}
.btn {
  display: inline-block;
  @include btn-color();
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  &:hover {
    background: linear-gradient(
      to bottom,
      rgba(255, 121, 218, 0.8),
      rgba(147, 86, 220, 0.8)
    );
    box-shadow: none;
  }
}

.btn a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 5px;
}

span {
  position: absolute;

  right: 95%;
  top: 20px;
  border: 2px transparent;
  background-color: rgb(166, 93, 189);
  border-radius: 35px;
  padding: 10px 14px;
  color: white;
}

.fonction ul {
  text-align: center;
}
i {
  color: grey;
}
.les-restaurant {
  background-color: $principal-color;
  padding: 18px;
}

.new {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  border: 1px solid transparent;
  background-color: rgb(153, 224, 221);
  color: rgb(31, 165, 31);
  padding: 15px;
  border-radius: 3px;
}

h2 {
  padding-left: 10px;
  color: black;
}
p {
  font-size: 20px;
  color: black;
  padding-left: 10px;
}

.white-logo path {
  fill: white;
}
.white-logo {
  padding-top: 60px;
  padding-left: 22px;
}
footer {
  background-color: #3d3838;
  height: 60vh;
}

.prop {
  color: white;
  font-size: 16px;
}
.img-fond {
  position: relative;
  height: 76vh;

  width: 100%;

  object-fit: cover;
}
.fa-arrow-left {
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 50px;
}

.fleche {
  position: absolute;
  top: 35px;
}
.title {
  padding: 38px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 33px;
  text-align: center;
}

.entree {
  padding: 0px 10px 0px 20px;
}
.entree-title {
  font-weight: lighter;
  font-size: 20px;
  padding-left: 0;
  border-bottom: rgb(153, 224, 221) solid 4px;

  width: 55px;
  padding-bottom: 15px;
}
.bt {
  text-align: center;
  padding: 25px;
}
.choix {
  border: 1px solid transparent;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 2px #d7cdcd;
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}
.container {
  margin-bottom: 16px;
  margin-right: 10px;
  box-shadow: 2px 2px 10px 2px #d7cdcd;
  border-radius: 12px;
}

.recipe-card {
  $check-width: 60px;
  $check-icon-size: 24px;
  $check-bgcolor: #99e2d0;
  $check-animation-duration: 0.6s;

  background: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;

  overflow: hidden;

  &__inner {
    display: flex;
    align-items: center;
    align-content: center;
    align-items: stretch;
  }

  &__content {
    padding: 16px 12px;
    flex-grow: 1;
    min-width: 100%;
    box-sizing: border-box;
    transition: min-width $check-animation-duration ease;
  }

  &__icon {
    transition: transform $check-animation-duration;
    font-size: $check-icon-size;
    color: white;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__price {
    font-weight: bold;
    padding-right: 16px;
    transition: padding-right $check-animation-duration;
  }

  &__descriptionContainer {
    margin-top: 6px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;
  }

  &__description {
    font-size: 0.9rem;
    line-height: 1.1rem;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__checkContainer {
    flex: 0 0 $check-width;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $check-bgcolor;
    color: white;
  }

  &:hover {
    .recipe-card {
      &__content {
        min-width: calc(100% - #{$check-width});
      }

      &__icon {
        transform: rotate(360deg);
      }

      &__price {
        padding-right: 0;
      }
    }
  }
}

.sum {
  position: relative;
  right: 20px;
  top: 40px;
}

#btn {
  width: 40%;
  padding: 22px;
  border-radius: 35px;
}

.menu-footer {
  padding-left: 22px;
  &__icone {
    color: white;
  }
}

//***version desktop**//
@media screen and (min-width: 769px) {
  .contenaire {
    display: grid;

    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .fonction ul {
    display: flex;
  }

  footer {
    display: flex;
  }
  .menu-footer {
    display: flex;
    position: absolute;
    width: 661px;
    gap: 32px;
    right: 340px;
    padding-top: 220px;
    &__icone {
      color: white;
    }
  }
  .white-logo path {
    fill: white;
  }
  .white-logo {
    position: absolute;

    right: 70px;
    padding-top: 228px;
  }
  .img-fond {
    width: 100%;
    object-fit: cover;
  }
  .contenaire-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
