.menu-item {
  list-style: none;
  border: 5px solid transparent;
  background-color: rgba(250, 249, 249, 0.911);
  margin: 25px;
  padding: 30px;
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(235, 235, 235, 0.911) 6px 4px 20px;
  &__link {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}
@media screen and (min-width: 769px) {
  .menu-item {
    width: 23%;
  }
}
