.restaurant {
  background-color: rgba(250, 249, 249, 0.911);
  height: 280vh;
  margin: 0px -10px 0px -8px;
  padding-top: 10px;
  margin-bottom: -20px;

  &-card {
    border: 2px solid transparent;
    background-color: white;
    width: 90%;
    height: 58vh;
    border-radius: 15px;
    line-height: 10px;
    margin-left: 31px;
    position: relative;
    margin-top: 20px;
  }
  &-nom {
    display: flex;

    justify-content: space-between;
    padding: 10px;
  }

  &-img {
    height: 40vh;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }
}
@media screen and (min-width: 769px) {
  .restaurant {
    height: 200vh;
    margin-bottom: -70px;
    &-card {
      width: 60vh;
    }
    &-img {
      width: 60vh;
    }
  }
}

@media screen and (min-width: 770px) and (max-width: 986px) {
  .restaurant {
    height: 200vh;

    margin-bottom: -70px;
    &-card {
      width: 45vh;
    }
    &-img {
      width: 45vh;
    }
  }
}

@media screen and (min-width: 1108px) {
  .restaurant {
    height: 200vh;

    margin-bottom: -70px;
    &-card {
      width: 80vh;
    }
    &-img {
      width: 80vh;
    }
  }
}
