@charset "UTF-8";
.menu-item {
  list-style: none;
  border: 5px solid transparent;
  background-color: rgba(250, 249, 249, 0.911);
  margin: 25px;
  padding: 30px;
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(235, 235, 235, 0.911) 6px 4px 20px;
}
.menu-item__link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.menu-item__link i {
  color: #9356dc;
}

@media screen and (min-width: 769px) {
  .menu-item {
    width: 23%;
  }
}
.restaurant {
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
}
.restaurant-img {
  height: 250px;
  background-size: cover;
  background-position: center;
}
.restaurant-nom {
  padding: 16px;
  display: flex;
}
.restaurant-main {
  flex-grow: 1;
  line-height: 2rem;
}
.restaurant-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-heart-container .restaurant-heart-plein {
  opacity: 0;
  position: absolute;
  right: 16px;
}
.restaurant-heart-container:hover .restaurant-heart-plein {
  background: linear-gradient(to right, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: ease 0.6s;
  opacity: 1;
}
.restaurant-heart-container:hover .restaurant-heart {
  opacity: 0;
  position: absolute;
  right: 16px;
}

.menu {
  background-color: rgb(235, 235, 235);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  margin-top: -85px;
  position: relative;
}
.menu-btn {
  border: 2px solid black;
}

@media screen and (min-width: 769px) {
  .menu {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
body {
  font-family: sans-serif;
  font-family: Roboto;
  margin: 0;
}

.loader-contenaire {
  position: fixed;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: lett 1s linear infinite;
}

@keyframes lett {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}
.enter {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.enter:nth-child(1) {
  animation-delay: 0.5s;
}

.enter:nth-child(2) {
  animation-delay: 1s;
}

.enter:nth-child(3) {
  animation-delay: 1.5s;
}

.enter:nth-child(4) {
  animation-delay: 2s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-click {
  text-decoration: none;
  width: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.logo-img {
  height: 8vh;
}

header {
  text-align: center;
  padding-top: 30px;
}

.header-menu {
  text-align: center;
  padding: 25px;
}

.location {
  background-color: rgba(235, 235, 235, 0.911);
  padding: 20px;
  margin-bottom: 0;
}

.location a {
  text-decoration: none;
  color: black;
  font-size: 21px;
}

.hero {
  text-align: center;
  background-color: rgba(250, 249, 249, 0.911);
  padding: 20px;
  font-size: 25px;
}

.p-hero {
  color: grey;
}

.btn {
  display: inline-block;
  border: 2px transparent;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.btn:hover {
  background: linear-gradient(to bottom, rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
  box-shadow: none;
}

.fas {
  cursor: pointer;
  transition: opacity 0.7s ease;
}

.solid-heart {
  opacity: 0;
  position: relative;
  right: 37px;
  pointer-events: none; /* Empêche l'icône pleine d'être interactive quand elle est cachée */
}

/* Lorsque l'on survole l'icône vide, on affiche l'icône pleine */
.empty-heart:hover {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.empty-heart:hover + .solid-heart {
  background: linear-gradient(to right, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: ease 0.6s;
  opacity: 1;
}

.btn a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 5px;
}

span {
  position: absolute;
  right: 95%;
  top: 20px;
  border: 2px transparent;
  background-color: #9356dc;
  border-radius: 35px;
  padding: 10px 14px;
  color: white;
}

.fonction ul {
  text-align: center;
}

i {
  color: grey;
}

.les-restaurant {
  background-color: rgba(250, 249, 249, 0.911);
  padding: 18px;
}

.new {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  border: 1px solid transparent;
  background-color: rgb(153, 224, 221);
  color: rgb(31, 165, 31);
  padding: 15px;
  border-radius: 3px;
}

h2 {
  padding-left: 10px;
  color: black;
}

p {
  font-size: 20px;
  color: black;
  padding-left: 10px;
}

.white-logo path {
  fill: white;
}

.prop {
  color: white;
  font-size: 16px;
}

.img-fond {
  position: relative;
  height: 76vh;
  width: 100%;
  object-fit: cover;
}

.fa-arrow-left {
  font-size: 30px;
  position: absolute;
  left: 30px;
  top: 50px;
}

.fleche {
  position: absolute;
  top: 35px;
}

.title {
  padding: 38px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 33px;
  text-align: center;
}

.entree {
  padding: 0px 10px 0px 20px;
}

.entree-title {
  font-weight: lighter;
  font-size: 20px;
  padding-left: 0;
  border-bottom: rgb(153, 224, 221) solid 4px;
  width: 55px;
  padding-bottom: 15px;
}

.bt {
  text-align: center;
  padding: 25px;
}

.choix {
  border: 1px solid transparent;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 2px #d7cdcd;
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.container {
  margin-bottom: 16px;
  margin-right: 10px;
  box-shadow: 2px 2px 10px 2px #d7cdcd;
  border-radius: 12px;
}

.recipe-card {
  background: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  overflow: hidden;
}
.recipe-card__inner {
  display: flex;
  align-items: center;
  align-content: center;
  align-items: stretch;
}
.recipe-card__content {
  padding: 16px 12px;
  flex-grow: 1;
  min-width: 100%;
  box-sizing: border-box;
  transition: min-width 0.6s ease;
}
.recipe-card__icon {
  transition: transform 0.6s;
  font-size: 24px;
  color: white;
}
.recipe-card__title {
  font-size: 1.1rem;
  font-weight: bold;
}
.recipe-card__price {
  font-weight: bold;
  padding-right: 16px;
  transition: padding-right 0.6s;
}
.recipe-card__descriptionContainer {
  margin-top: 6px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 12px;
}
.recipe-card__description {
  font-size: 0.9rem;
  line-height: 1.1rem;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe-card__checkContainer {
  flex: 0 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  color: white;
}
.recipe-card:hover .recipe-card__content {
  min-width: calc(100% - 60px);
}
.recipe-card:hover .recipe-card__icon {
  transform: rotate(360deg);
}
.recipe-card:hover .recipe-card__price {
  padding-right: 0;
}

.sum {
  position: relative;
  right: 20px;
  top: 40px;
}

#btn {
  width: 40%;
  padding: 22px;
  border-radius: 35px;
}

.menu-footer__icone {
  color: white;
}

@media screen and (min-width: 769px) {
  .contenaire {
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .fonction ul {
    display: flex;
  }
  .menu-footer {
    display: flex;
    width: 661px;
    gap: 32px;
    right: 340px;
  }
  .menu-footer__icone {
    color: white;
  }
  .white-logo path {
    fill: white;
  }
  .white-logo {
    height: 27px;
  }
  .img-fond {
    width: 100%;
    object-fit: cover;
  }
  .contenaire-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
footer {
  background-color: #3d3838;
  display: flex;
  padding: 35px 25px 10px 25px;
  flex-direction: column-reverse;
}

@media screen and (min-width: 769px) {
  footer {
    align-items: center;
    justify-content: flex-end;
    gap: 100px;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
